Flask==3.0.3
langchain-openai==0.1.23
Markdown==3.7
pydantic==2.9.0
python-dotenv==1.0.1
SQLAlchemy==2.0.34

app~=0.1.0
weasyprint~=62.3
assemblyai~=0.33.0
opencc~=1.1.9
loguru~=0.7.2
passlib~=1.7.4
datetime~=5.5
pandas~=2.2.2
openpyxl~=3.1.5
fastapi==0.113.0
pydantic-settings==2.4.0
redis==5.0.8
hypercorn~=0.17.3